<a href="https://colab.research.google.com/github/manjotmb20/Judicial-Decision-Prediction/blob/master/assignmenttext.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import os
import zipfile

In [0]:
zipref=zipfile.ZipFile("Train_tags.zip")
zipref.extractall()
zipref.close()

In [0]:
list1=[]
col=[]
tags=[]
for i in range(80):
  list1.append("case_{}_statement.txt".format(i))
  col.append(i)
  tags.append("case{}.txt".format(i))

In [29]:
tags

['case0.txt',
 'case1.txt',
 'case2.txt',
 'case3.txt',
 'case4.txt',
 'case5.txt',
 'case6.txt',
 'case7.txt',
 'case8.txt',
 'case9.txt',
 'case10.txt',
 'case11.txt',
 'case12.txt',
 'case13.txt',
 'case14.txt',
 'case15.txt',
 'case16.txt',
 'case17.txt',
 'case18.txt',
 'case19.txt',
 'case20.txt',
 'case21.txt',
 'case22.txt',
 'case23.txt',
 'case24.txt',
 'case25.txt',
 'case26.txt',
 'case27.txt',
 'case28.txt',
 'case29.txt',
 'case30.txt',
 'case31.txt',
 'case32.txt',
 'case33.txt',
 'case34.txt',
 'case35.txt',
 'case36.txt',
 'case37.txt',
 'case38.txt',
 'case39.txt',
 'case40.txt',
 'case41.txt',
 'case42.txt',
 'case43.txt',
 'case44.txt',
 'case45.txt',
 'case46.txt',
 'case47.txt',
 'case48.txt',
 'case49.txt',
 'case50.txt',
 'case51.txt',
 'case52.txt',
 'case53.txt',
 'case54.txt',
 'case55.txt',
 'case56.txt',
 'case57.txt',
 'case58.txt',
 'case59.txt',
 'case60.txt',
 'case61.txt',
 'case62.txt',
 'case63.txt',
 'case64.txt',
 'case65.txt',
 'case66.txt',
 'case67.txt',
 'case68.txt',
 'case69.txt',
 'case70.txt',
 'case71.txt',
 'case72.txt',
 'case73.txt',
 'case74.txt',
 'case75.txt',
 'case76.txt',
 'case77.txt',
 'case78.txt',
 'case79.txt']

In [0]:
data={"name":list1}

In [0]:
df=pd.DataFrame(data)

In [0]:
df['index']=col

In [22]:
df

                     name  index
0    case_0_statement.txt      0
1    case_1_statement.txt      1
2    case_2_statement.txt      2
3    case_3_statement.txt      3
4    case_4_statement.txt      4
..                    ...    ...
75  case_75_statement.txt     75
76  case_76_statement.txt     76
77  case_77_statement.txt     77
78  case_78_statement.txt     78
79  case_79_statement.txt     79

[80 rows x 2 columns]

In [0]:
path='../content/Train_tags'

In [0]:
listtag=[]
for row in tags:
  tag=open("../content/Train_tags/"+row).read()
  listtag.append(tag)

In [39]:
len(listtag)

80

In [0]:
df['tags']=listtag

In [43]:
df.tail()

                     name  ...                                               tags
75  case_75_statement.txt  ...  Administration of Justice, Admiralty Jurisdict...
76  case_76_statement.txt  ...                                     Absorption, Ad
77  case_77_statement.txt  ...  Appreciation of Evidence, Assault, Autopsy, Br...
78  case_78_statement.txt  ...  Amicus Curiae, Circumstantial Evidence, Eye Wi...
79  case_79_statement.txt  ...  Absence, Access, Accident, Account, Acquisitio...

[5 rows x 3 columns]