<a href="https://colab.research.google.com/github/manjotmb20/Judicial-Decision-Prediction/blob/master/judicial_decision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import os
import zipfile
import pandas as pd

In [0]:
zipref=zipfile.ZipFile("data.zip")
zipref.extractall()
zipref.close()

In [0]:
violation="../content/data/violation/"
nonviolation="../content/data/non-violation/"

In [0]:
ventry=os.listdir(violation)
nventry=os.listdir(nonviolation)

In [22]:
len(ventry)

57

In [0]:
df=pd.DataFrame()
df2=pd.DataFrame()
df["name"]=ventry
df2["name"]=nventry

In [0]:
df2["judging"]=""
df["judging"]=""
for i in range(len(df)):
    df["judging"][i]="violation"
for i in range(len(df2)):
    df2["judging"][i]="nonviolation"

In [42]:
df=df.append(df2)
df

              name       judging
0   001-122889.txt     violation
1    001-93382.txt     violation
2    001-83480.txt     violation
3   001-110543.txt     violation
4   001-160863.txt     violation
..             ...           ...
52  001-155359.txt  nonviolation
53  001-139175.txt  nonviolation
54  001-142737.txt  nonviolation
55   001-60707.txt  nonviolation
56  001-100903.txt  nonviolation

[114 rows x 2 columns]